.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 18%
    right: 42%
  &-2
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: -2%
    right: 7%
  &-3
    animation: float4 2.8s ease-in-out infinite alternate
    position: absolute
    top: 4%
    right: 66%  
  &-4
    width: 41px
    animation: rotation 4s infinite linear
    position: absolute
    bottom: 46%
    left: 84%
    z-index: -1
  &-5
    animation: float3 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 13%    

.banner-principal__img
  z-index: 1


@keyframes float1
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

@keyframes float2    
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@-webkit-keyframes rotation 
  from 
    -webkit-transform: rotate(0deg)  
  to 
    -webkit-transform: rotate(359deg)

@keyframes float3
  0%
    transform: translateX(0px)

  100%
    transform: translateX(15px)

@keyframes float4    
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px) 

// Introduccion

.bloque-texto-b.color-primario-intro:before 
  background-color: #DADEEC
  height: 53%
  width: 71%
  margin-left: -9%
  margin-top: -1%          

.imagen-decorativa-1
  animation: float2 2.5s ease-in-out infinite alternate
  position: relative
  top: 0rem
  left: 16%
  width: 77%

@media (max-width: 500px)   
  .imagen-decorativa-1
    animation: float2 2.5s ease-in-out infinite alternate
    position: relative
    top: 0rem
    left: 0%
    width: 77%   

.bloque-texto-b.color-primario-intro2:before 
  background-color: #DADEEC
  height: 35%
  width: 76%
  margin-left: -19%
  margin-top: -2%   

// Tema 1

.bloque-text-1
  margin-right: 45%  
.bloque-img-1
  margin-left: 50% 

.tarjeta--gris 
    background-color: #DADEEC

.linea-tiempo-d.color-acento-botones .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
  background-color: #FC502D
  color: #FFFFFF

.fa-check:before 
  content: "\f00c"
  color: #FC502D

.color1-tabla
  background-color: #D3D3D3    
  text-align: center
.texto-tabla
  text-align: center

.cajon-texto
  width: 91%
  margin-left: 3%
.cajon-color
  background-color: #EAECF4

.imagen-decorativa-2
  animation: float2 2.5s ease-in-out infinite alternate
  position: relative
  top: -2rem
  left: 37%
  width: 43% 

@media (max-width: 600px)   
  .imagen-decorativa-2
    animation: float2 2.5s ease-in-out infinite alternate
    position: relative
    top: -2rem
    right: 0%
    width: 43% 

.pasos-b.color-acento-botones .pasos-b__header__item--active .pasos-b__header__item__dot span 
    color: #FFFFFF

.pasos-b__header__item--before .pasos-b__header__item__dot 
  border-color: #0D2380
  background-color: #0D2380

.pasos-b__header__item--before .pasos-b__header__item__line-container:before, .pasos-b__header__item--before .pasos-b__header__item__line-container:after 
  background-color: #0D2380

.pasos-b__header__item--active .pasos-b__header__item__line-container:before 
  background-color: #0D2380


.hr--line
  margin: 1rem 0
  width: 100%
  height: 1px  
  background-color: #0D2380

.clr--gray
  background-image: url(../assets/curso/temas/tema1/img23_tema1.svg)   
  
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      width: 100%
      height: 100%
      text-align: center

  .crd_hover_txt--body
    position: absolute
    padding: 3.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 0.15rem ))
    background-color: #FEC2B5
    width: 100%
    height: 100%
    text-align: center

  .crd_hover_txt--body
      p
        font-size: 0.85em
        color: black
      h4
        color: black

.pasos-verticale
  background-color: #F2F4F9  

.tabs-a__tab 
  display: block
  width: 100%
  text-align: left
  background-color: #D3D3D3
  padding: 15px 20px
  border-radius: 5px
  color: #111e61
  line-height: 1.2em

.bg-7
  .tarjeta--azul
    background-color: #AAB2D3
    border-radius: 10px 

  .acordion__accion__btn--a
    background-color: #FFFFFF !important

  .acordion__activo
    background-color: #DADEEC !important 

.bg-8
  p, h3
  color: #0D2380

.bg-9
  background-color: #aab2d32b 
.bg-10
  margin-top: 4% 
.bg-11
  margin-top: 31%

// Tema 2   

.imagen-decorativa-3
  animation: float2 2.5s ease-in-out infinite alternate
  position: relative
  top: 0rem
  left: 5%
  width: 89% 

@media (max-width: 500px)   
  .imagen-decorativa-3
    animation: float2 2.5s ease-in-out infinite alternate
    position: relative
    top: 0rem
    right: 0%
    width: 89%   

.imagen-decorativa-4
  animation: float2 2.5s ease-in-out infinite alternate
  position: relative
  top: 0rem
  left: 31%
  width: 55%

@media (max-width: 500px)   
  .imagen-decorativa-4
    animation: float2 2.5s ease-in-out infinite alternate
    position: relative
    top: 0rem
    right: 0%
    width: 55% 
    
.bloque-text-2
  margin-right: 45%  
.bloque-img-2
  margin-left: 50%  

.bg-2
  .tarjeta--azul 
    background-color: transparent
    border-bottom: 1px solid

  .tarjeta.acordeonA
    background-color: #DADEEC
  .acordion__accion__btn--a
    background-color: #DADEEC !important
  .acordion__activo
    background-color: #DADEEC !important

.bg-4
  border-radius: 20px
  border: #D3D3D3 solid
 


// Tema 3 

.img-infografica.color-primario .img-infografica__item__dot:before, .img-infografica.color-primario .img-infografica__item__dot:after, .img-infografica.color-primario .img-infografica-b__item__dot:before, .img-infografica.color-primario .img-infografica-b__item__dot:after, .img-infografica-b.color-primario .img-infografica__item__dot:before, .img-infografica-b.color-primario .img-infografica__item__dot:after, .img-infografica-b.color-primario .img-infografica-b__item__dot:before, .img-infografica-b.color-primario .img-infografica-b__item__dot:after 
  background-color: #0d23800f
    
.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5 
    color: #FFFFFF
  p 
    margin-bottom: 0
  &::before  
    position: absolute 
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #0D2380

  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first, .crd--last
  &::before 
    background-color: #0D2380 !important

.crd--first
  &::before 
    border-top-left-radius: 30px
.crd--last
  &::before 
    border-bottom-left-radius: 30px
  
.bg-6
  .tarjeta--azul 
    background-image: url(../assets/curso/temas/tema3/img10_tema3.svg)
    background-color: #d8ecff14


.table1
  -webkit-column-span: 3

.parraf
  margin-left: 10%

.imagen-decorativa-5
  animation: float2 2.5s ease-in-out infinite alternate
  position: relative
  top: 0rem
  left: 6%
  width: 105%   

@media (max-width: 500px)   
  .imagen-decorativa-5
    animation: float2 2.5s ease-in-out infinite alternate
    position: relative
    top: 0rem
    right: 0%
    width: 105% 

.imagen-decorativa-6
  animation: float2 2.5s ease-in-out infinite alternate
  position: relative
  top: 0rem
  left: 25%
  width: 40%

@media (max-width: 500px)   
  .imagen-decorativa-6
    animation: float2 2.5s ease-in-out infinite alternate
    position: relative
    top: -1rem
    right: 0%
    width: 40% 

.imagen-decorativa-7
  animation: float2 2.5s ease-in-out infinite alternate
  position: relative
  top: 0rem
  right: 0%
  width: 85%   

@media (max-width: 500px)   
  .imagen-decorativa-7
    animation: float2 2.5s ease-in-out infinite alternate
    position: relative
    top: -2rem
    left: 0%
    width: 85% 

.imagen-decorativa-8
  animation: float2 2.5s ease-in-out infinite alternate
  position: relative
  top: 0rem
  right: 0%
  width: 108% 

@media (max-width: 500px)   
  .imagen-decorativa-8
    animation: float2 2.5s ease-in-out infinite alternate
    position: relative
    top: 0rem
    left: -15%
    width: 108% 

.imagen-decorativa-9
  position: relative
  top: 0rem
  left: 22%
  width: 63% 

@media (max-width: 500px)   
  .imagen-decorativa-9
    animation: float2 2.5s ease-in-out infinite alternate
    position: relative
    top: -2rem
    left: 22%
    width: 63% 

.text-f
  color: #0D2380


.bg-12
 .crd--avatarHorizontal 
   position: relative
   padding-right: 1rem
 .py-4 
    padding-top: 0.5rem !important
    padding-bottom: 0.5rem !important
    margin-bottom: 5px 

.crd--avatarHorizontal::before 
  position: absolute
  content: ''
  top: 0
  right: 0
  width: calc( 100% - 60px)
  height: 100%
  background-color: #0D2380
  border-radius: 25px


.background-full
  border: solid 2px #D3D3D3
  border-radius: 22px   
.imagen-full-tema-1
  background-size: 100% 100%
  margin-left: -4%
  